.cart__slider {
    position: absolute;
    width: 420px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    overflow: hidden;
    &-block {
      display: flex;
      flex-direction: column;
      position: absolute;
      width: 385px;
      height: 100%;
      right: 0;
      color: #ffffff;
      background: #272727;
      box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
      padding: 30px;
      h2 {
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
          cursor: pointer;
          border-radius: 20px;
        }
      }
    }
    &-empty {
      color:#ffffff;
      font-size: 35px;
    }
    &-empty_block {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      flex: 1;
    }
    &-empty_btn {
      margin-top: 15px;
      width: 100%;
      height: 55px;
      background: #01B575;
      border-radius: 18px;
      border: 0;
      color: #ffffff;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
      transition: background 0.1s ease-in-out;
      &:hover {
        background: lighten($color: #01B575, $amount: 5%)
      }
      &:active {
        background: darken($color: #01B575, $amount: 5%)
      }
    }
    &-wrapp {
      flex: 1;
      overflow: auto;
    }
    &-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 20px;
      border: 1px solid #f3f3f3;
      border-radius: 10px;
      overflow: auto;
      p {
        font-size: 16px;
      }
      b {
        font-size: 14px;
      }
      img {
        margin-right: 15px;
        object-fit: contain;
      }
      .descr {
        display: flex;
        flex-direction: column;
        margin: 0;
        margin-right: 20px;
      }
      .removeBtn {
        opacity: 0.5;
        transition: opacity 0.2s ease-in-out;
        cursor: pointer;
        &:hover {
          opacity: 1;
        }
      }
    }
  
  }
  
  .cart__item-price {
    margin-top: 20px;
    li {
      display: flex;
      align-items: flex-end;
      margin-bottom: 20px;
    }
    div {
      flex: 1;
      height: 1px;
      border-bottom: 1px dashed #dfdfdf;
      position: relative;
      top: -4px;
      margin: 0 7px;
    }
    button {
      width: 100%;
      height: 55px;
      background: #01B575;
      border-radius: 18px;
      border: 0;
      color: #ffffff;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
      transition: background 0.1s ease-in-out;
      &:hover {
        background: lighten($color: #01B575, $amount: 5%)
      }
      &:active {
        background: darken($color: #01B575, $amount: 5%)
      }
    }
  }
  
  .cart__item-block {
      display: flex;
    }
  