.content__card {
    border: 1px solid rgba(0,0,0,0.3);
    padding: 20px;
    width: 327px;
    border-radius: 2px;
    margin-right: 30px;
    margin-top: 10px;
    transition: box-shadow .2s ease-in-out, transform 0.2s ease-in-out;
    cursor: pointer;
    &:hover {
      box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.07);
      transform: translateY(-3px);
    }
    span {
      font-size: 15px;
      opacity: 0.5;
      text-transform: uppercase;
    }
    p {
      font-weight: 400;
      font-size: 18px;
    }
    &-bottom {
      display: flex;
      justify-content: space-between;
    }
    &-price {
      display: flex;
      flex-direction: column;
    }
    &-favorite {
      display: none;
      position: absolute;
      cursor: pointer;
    }
    img {
      border-radius: 2px;
      cursor: pointer;
    }
  }